* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #b91111,
        #54b5d9
    )
}

.container {
    border: 2px solid white;
    width: 50%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px
}

#newtask {
    position: relative;
    background-color: #ffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

#newtask input {
    width: 70%;
    width: 70%;
    height: 45px;
    font-family: 'Times New Roman', sans-serif;
    font-size: 15px;
    border: 2px solid #ffffff;
    padding: 12px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#newtask input:focus {
    outline: none;
    border-color: black;
}

#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(
        135deg,
        #b91111,
        #54b5d9
    );
    border: none;
    color: #fff;
    cursor: pointer;
}

.task {
    background-color: ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #f8f8ff;
    box-shadow: 0 15px 30px rgba(163, 104, 104, 0.2)
}

#tasks {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
    width: 100%;
    position: relative;
}